[submodule "intro/03_euler"]
	path = intro/03_euler
	url = git@github.com:mks65/euler-ericlau00.git
[submodule "intro/09_arrays"]
	path = intro/09_arrays
	url = git@github.com:mks65/array-swap-ericlau00.git
[submodule "intro/13_make"]
	path = intro/13_make
	url = git@github.com:mks65/make-ericlau00.git
[submodule "intro/14_strings"]
	path = intro/14_strings
	url = git@github.com:mks65/strings-solon.git
